@using TvSets.Helpers
@using TvSets.Models
@model TvSets.Models.TvsetViewModel
@{
    ViewBag.Title = "Tv Table";
}

@Scripts.Render("~/bundles/tvIndex")
@Styles.Render("~/content/tvIndex")
@*@Styles.Render("~/Content/confirmCss")
@Scripts.Render("~/bundles/jqueryconf")*@

<br/>

@Html.ActionLink("Create", "Create", "Tv", new { @class = "btn btn-default btn-tvTable" })

<br />
<br/>

<table class="table table-hover">
    <thead style="font-weight: bold">
        <tr>
            <td style="width: 20px">Id</td>
            <td>Name</td>
            <td>Size</td>
            <td>Resolution</td>
            <td>Year</td>
            <td>Technology</td>
            <td style="width: 100px">@Html.ActionLink("Price", "Index", new { sort = ViewBag.Sort == "low" ? "high" : "low", search = ViewBag.Search })</td>
            <td style="width: 150px"></td>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.News)
    {
        <tr>
            <td>@item.Id</td>
            <td>@Html.ActionLink(@item.Company.Name + " " + @item.Name, "View", new { id = item.Id }, null)</td>
            <td>@item.Size"</td>
            <td>@item.Resolution</td>
            <td>@item.Year</td>
            <td>@item.Technology.Name</td>
            <td>@item.Price$</td>
            <td>@Html.ActionLink("Edit", "Edit", "Tv", new { id = item.Id }, new { @class="btn btn-default btn-tvTable" })
            <button class="btn btn-danger btn-tvTable" id="btnDelete" onclick="deleteItem(@item.Id)">Delete</button></td>
        </tr>
    }
    </tbody>
</table>

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { search = ViewBag.Search, sort = ViewBag.Sort, page = x }))
</div>


<script type="text/javascript" src="~/Scripts/Catalog/Index/main.js"></script>
  